$black: #050301;
$white: #fcfcff;
$blue:#35B7F1;
$green:#59b256;

// .light {
//   .text {
//     $black: #050301;
//   }

//   .background {
//     $white: #fcfcff;
//   }
// }

// .dark {
//   .text {
//     $white: #fcfcff;
//   }

//   .background {
//     $black: #050301;
//   }
// }

.light-theme {
  color: $black;
  background-color: $white;
}

.dark-theme {
  color: $white;
  background-color: $black;
}